@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.k-icon {
  font-family: "KendoIcons";
  display: inline-block;
}
.modal {
  padding-top: 0px !important;
  background-color: rgb(0 0 0 / 83%) !important ;
}
.remodal h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}
/* .wrapper {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
} */

.cbp-af-header.cbp-af-header-shrink {
  height: 80px;
  background: #303030;
  box-shadow: 1px 1px 20px #1f1f1f;
}

.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000b8;
  z-index: 1000;
  height: 73px;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.cbp-af-header .mainlogo {
  height: 60px;
  margin-top: 10px;
}

.cbp-af-header .mainlogo:hover {
  border-color: transparent !important;
}

.cbp-af-header .mainlogo img {
  height: 57px;
  transition: 0.4s;
}

.cbp-af-header.cbp-af-header-shrink .mainlogo {
  height: 60px;
  margin-top: 10px;
}

.cbp-af-header.cbp-af-header-shrink .mainlogo img {
  height: 60px;
  transition: 0.4s;
}

.cbp-af-header .cbp-af-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.cbp-af-header h1 {
  position: relative;
  line-height: 140px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 4px;
  font-size: 4em;
  margin: 0;
  float: left;
}

cbp-af-header.cbp-af-header-shrink {
  height: 80px;
  background: #303030;
  box-shadow: 1px 1px 20px #1f1f1f;
}

.cbp-af-header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
}

.cbp-af-header nav a {
  width: 11.285%;
  color: #dcdcdc;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1.4px;
  text-decoration: none;
  cursor: pointer;
  line-height: 72px;
  display: inline-block;
  vertical-align: middle;
  border-top: 6px solid transparent;
  text-shadow: 1px 1px 1px #333;
}

.cbp-af-header nav a:nth-child(5) {
  width: 21.4275%;
}

.cbp-af-header nav a:nth-child(6) {
  width: 21.4275%;
}

.cbp-af-header nav a:hover {
  color: #fff;
  border-top: 6px solid #fd9500;
}

.cbp-af-header nav a small {
  color: red;
  font-size: 10px;
  vertical-align: top;
  font-weight: 600;
  display: inline-block;
  margin: -10px 0 0 1px;
  letter-spacing: 0;
}

.cbp-af-header.cbp-af-header-shrink {
  height: 80px;
  background: #303030;
  box-shadow: 1px 1px 20px #1f1f1f;
}

.cbp-af-header nav a i {
  color: #fd9500;
  font-size: 20px;
  vertical-align: -1px;
}

.cbp-af-header nav a {
  -webkit-transition: line-height 0.4s;
  -moz-transition: line-height 0.4s;
  transition: line-height 0.4s;
}

.cbp-af-header.cbp-af-header-shrink {
  height: 80px;
  background: #303030;
  box-shadow: 1px 1px 20px #1f1f1f;
}

.cbp-af-header.cbp-af-header-shrink nav a {
  line-height: 76px;
  border-top: none;
  border-bottom: 4px solid transparent;
}

.cbp-af-header.cbp-af-header-shrink nav a:hover {
  border-bottom: 4px solid #fd9500;
}

.cbp-af-header.cbp-af-header-shrink h1 {
  font-size: 2em;
}

.colorchange {
  animation: color-change 2s infinite;
}
@media screen and (max-width: 1200px) {
  .wrap {
    width: 972px;
  }
  .cbp-af-header nav {
    padding: 0 20px;
  }
  .cbp-af-header nav a {
    line-height: 100px;
  }
  .cbp-af-header .mainlogo {
    height: 100px;
    margin-top: 0;
  }
  .cbp-af-header .mainlogo img {
    height: 80px;
    vertical-align: middle;
  }
  .cbp-af-header.cbp-af-header-shrink .mainlogo {
    margin-top: 0;
  }
  .mainphone {
    left: 0 !important;
  }
  .dash1 {
    left: -112px !important;
  }
  .dash2 {
    left: -42px !important;
  }
  .dash3 {
    left: -202px !important;
  }
  .dash4 {
    left: -45px !important;
  }
  .perfection {
    left: 7px;
  }
  .mainbackdesc h1 {
    font-size: 26px;
    letter-spacing: 0;
  }
  .maindesctext span {
    font-size: 13.8px;
  }
  .mainaboutitemsblock {
    padding: 0 !important;
  }
  .aboutdashleft {
    left: 38px !important;
  }
  .aboutdashright {
    left: 408px !important;
  }
  .totalsumwrap {
    width: 48%;
  }
  .maincertbtn .maindescbut {
    font-size: 13px;
  }
  .macblock {
    width: 46%;
  }
  .workdescblock {
    width: 50%;
  }
  .macback {
    width: 440px;
    height: 355px;
    background: url(../img/macback.png);
    background-size: contain;
  }
  .macbackwrap {
    height: 252px;
  }
  .stepsblock {
    width: calc(50% - 40px);
  }
  .bigstepline {
    top: 170px;
    height: 850px;
  }
  .review {
    padding-right: 40px;
  }
  .macblockline img.reviewimg {
    height: 92px;
  }
  .maincontbut {
    padding-left: 70px;
  }
  .contlink {
    width: 31.5%;
  }
  .footblock {
    line-height: 1.7 !important;
    font-size: 10px !important;
  }
  .workdesctitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .wrap {
    width: 748px !important;
  }
  .cbp-af-header nav {
    padding: 0 10px !important;
  }
  .cbp-af-header nav a {
    letter-spacing: 0 !important;
    font-size: 14px;
  }
  .mainbackwrap {
    width: 100% !important;
  }

  .mainbackdesc {
    margin: 150px 40px 0;
  }
  .mainbackwrap:first-child {
    display: none;
  }
  .maindesctext span {
    font-size: 16px;
  }
  .mainback {
    /* height: inherit; */
    padding-bottom: 40px;
    height: 650px !important;
  }
  .mainabout {
    padding: 20px 0 10px;
  }
  .mainabout h2,
  .workblock h2,
  .stepsmainblock h2,
  .reviewblock h2,
  .contactsblock h2 {
    font-size: 34px !important;
  }
  .mainaboutitemsblock {
    margin: 120px 0 !important;
  }
  .aboutitemgrad1 {
    margin-right: 0 !important;
  }
  .mainaboutitem2 {
    margin: -20px 0 0 -544px !important;
  }
  .mainaboutitem {
    width: 200px;
    font-size: 13px !important;
    padding: 20px !important;
    vertical-align: top !important;
  }
  .aboutitemgrad2 {
    margin-left: 344px !important;
  }
  .aboutdashleft {
    left: -49px !important;
  }
  .aboutdashright {
    left: 297px !important;
  }
  .mainaboutitem h3 {
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 10px !important;
    line-height: 1.3 !important;
  }
  .totalsumwrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .totalsumwrapvalue {
    width: 48%;
  }
  .totalsumdesc {
    font-size: 20px;
  }
  .totalsumnum {
    margin: 10px 0;
    font-size: 34px;
    line-height: 66px;
  }
  .totalsumblock .totalsumwrap .totalsumnum:last-child::before {
    font-size: 24px;
  }
  .aboutdashbottom {
    bottom: -55px !important;
  }
  .maincompanydesc {
    width: 50%;
    margin-top: 40px;
  }
  .certimgwrap {
    width: 50%;
    margin-top: 40px;
    text-align: left;
    padding-left: 20px;
  }
  .maincertbtn {
    width: 100%;
  }
  .maincertbtn .maindescbut {
    font-size: 14px;
  }
  .certimg {
    height: 172px;
  }
  .serdash {
    left: -2px;
  }
  .workblock {
    padding: 40px 0 10px;
  }
  .macblock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .macback {
    margin: 30px auto -40px;
  }
  .macblock .macblockline {
    width: 49%;
    padding: 15px;
    font-size: 15px;
    margin: 10px 0;
  }
  .macbackwrap img {
    height: 80px;
    margin: 20px auto;
    width: 120px;
  }
  .macblock .macblockline img {
    height: 17px;
  }
  .macblockline a.blocklinea i {
    font-size: 30px;
  }
  .workdescblock {
    width: 100%;
    margin: 30px 0;
  }
  .stepsblock {
    width: 95%;
    margin: 20px 0 0 !important;
  }
  .stepsblock.stepsblockfull {
    width: calc(100% - 26px);
    margin-left: 0 !important;
  }
  .stepslinewrap .maincontform {
    width: 90%;
  }
  .stepsline h3 {
    font-size: 26px;
  }
  .stepsblock.stepsblockfull2 {
    width: calc(100% - 26px);
  }
  .bigstepline {
    top: 250px;
    height: 950px;
  }
  .stepsmainblock {
    padding: 40px 0;
  }
  .reviewblock {
    padding: 40px 0;
  }
  .review {
    padding-right: 0;
    width: 100%;
  }
  .macblockline img.reviewimg {
    height: 150px;
  }
  .reviewblock h2,
  .contactsblock h2 {
    margin: 0 0 30px;
  }
  .review:last-child {
    width: 100%;
  }
  .smartcode {
    height: 120px;
  }
  .contactsblock {
    padding: 40px 0 20px;
  }
  .contlink {
    width: 48%;
  }
  .contlink:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contlink:last-child h3 {
    width: 100%;
    margin: 0;
  }
  .contlink:last-child .maincontbut {
    width: 48%;
  }
  .footlogo {
    margin-right: 15px;
  }
  .footlogo img {
    display: none;
  }
  .reviewlinkwrap {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 550px;
  }
  .cbp-af-header nav a:nth-child(-n + 3) {
    display: none;
  }
  .cbp-af-header nav a:nth-child(n + 4) {
    width: 33%;
  }
  .maindesc {
    padding: 15px 0 !important;
  }
  .mainbackdesc {
    margin: 120px 20px 0;
  }
  .maindesctext span {
    font-size: 14.5px;
  }
  .mainabout h2,
  .workblock h2,
  .stepsmainblock h2,
  .reviewblock h2,
  .contactsblock h2 {
    font-size: 28px;
  }
  .mainabout h2 small,
  .workblock h2 small,
  .stepsmainblock h2 small,
  .reviewblock h2 small,
  .contactsblock h2 small {
    font-size: 16px;
    line-height: 40px;
  }
  .mainabout {
    padding: 10px 0;
  }
  .mainaboutitemsblock {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
  }
  .mainaboutitem {
    width: 45% !important;
    height: inherit !important;
  }
  .aboutitemgrad2,
  .mainaboutitem2 {
    margin: 0 !important;
  }
  .mainaboutitem2 {
    position: relative;
    margin: -20px auto 20px;
    width: 100%;
    padding: 20px;
    order: -1;
    z-index: 1;
    height: inherit;
    background: transparent;
    box-shadow: none;
    border: none;
  }
  .mainaboutitem2:hover {
    transform: none;
    box-shadow: none;
  }
  .mainaboutitem2 img {
    height: 80px;
  }
  .aboutdashleft {
    left: 152px !important;
    top: 362px !important;
    width: 245px !important;
  }
  .serdash {
    top: -19px;
    height: 200px;
    background: url(../img/dash2.png) top;
  }
  .aboutdashright {
    display: none !important;
  }
  .mainaboutitemsblock {
    margin: 50px 0 !important;
  }
  .aboutdashbottom {
    bottom: -29px !important;
  }
  .totalsumdesc {
    font-size: 16px;
  }
  .totalsumnum {
    font-size: 26px;
    line-height: 54px;
  }
  .totalsumblock .totalsumwrap .totalsumnum:last-child::before {
    left: 14px;
    font-size: 20px;
  }
  .maincompanydesc {
    font-size: 14px;
  }
  .maincompany {
    font-size: 18px;
    margin: 4px 0 18px;
  }
  .certimg {
    height: 164px;
  }
  .maincertbtn .maindescbut {
    height: 40px;
    margin-top: 20px;
    line-height: 36px;
    font-size: 16px;
  }
  .macback {
    margin: 20px auto -66px;
    width: 373px;
    height: 300px;
  }
  .macbackwrap {
    height: 210px;
  }
  .macbackwrap img {
    height: 66px;
    margin: 15px auto;
    width: 100px;
  }
  .macblockdesc {
    font-size: 22px;
  }
  .macblock .macblockline {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    margin: 5px auto;
  }
  .workdescblock {
    width: 100%;
    margin: 30px 0;
    order: -1;
    padding: 0 20px;
  }
  .workblock {
    padding: 40px 0;
  }
  .stepsline {
    margin-bottom: 40px !important;
  }
  .stepsline:nth-of-type(3) .stepslinewrap:nth-child(2) {
    display: none;
  }
  .stepsblock.stepsblockfull {
    width: 100% !important;
  }
  .stepslinewrap {
    width: 100% !important;
  }
  .stepsmainblock h2 {
    margin: 0 0 30px;
  }
  .stepsblock {
    width: 100% !important;
  }
  .icosteps2 {
    display: none;
  }
  .stepsblock.stepsblockfull2 {
    width: 100%;
  }
  .stepsline:nth-of-type(4) .stepslinewrap:nth-child(3) {
    display: none;
  }
  .bigstepline {
    top: 320px;
    height: 850px;
  }
  .mainreviewdesc {
    width: calc(100% - 120px);
    font-size: 14px;
    line-height: 18px;
  }
  .mainauditwrap .macblockline {
    border-top: 5px solid #02ba96;
    border-left: none;
    margin: 15px 0 20px;
  }
  .mainreviewimg {
    justify-content: center;
    flex-wrap: wrap;
  }
  .mainreviewimgdesc {
    width: 100%;
    padding-left: 0;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  .contlink {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .contlink h3 {
    width: 100%;
    margin: 30px 0 0;
  }
  .contlink:last-child h3 {
    width: 100%;
    margin: 30px 0 0;
  }
  .maincontbut {
    width: 48%;
    padding-left: 65px;
    margin: 24px 0 0;
    font-size: 14px;
  }
  .contactsblock {
    padding: 40px 0;
  }
  .contactsblock h2 {
    margin: 0;
  }
  .footblock {
    width: 48%;
  }
  .footblock:last-child {
    margin-top: 15px !important;
    width: 100% !important;
  }
  .footer {
    height: inherit !important;
  }
  .footblock .maindescbut:last-child {
    margin: 0;
  }
  .modaldesc .maincontform {
    margin: 0 auto 20px;
    width: 100%;
  }
  .modallineflex {
    font-size: 14px !important;
  }
  .modallinewrapvalue img {
    height: 30px;
  }
  .modallinewrapvalue {
    font-size: 34px;
    margin-top: 5px !important;
  }
  .modaldesc {
    margin-top: 30px;
  }
  .dashmodal {
    margin-bottom: 30px;
  }
  .stepsblock h4 {
    margin-bottom: 10px;
  }
  .reviewwrap:last-child {
    margin-top: 20px;
  }
  .reviewlinkwrap,
  .lastdepowrap {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer {
    height: inherit;
  }
}

@media screen and (max-width: 576px) {
  .calcpage h2 {
    font-size: 20px;
  }
  .wrap {
    width: 380px !important;
  }
  .cbp-af-header .mainlogo img {
    height: 60px;
  }
  .cbp-af-header nav a {
    font-size: 12px;
    line-height: 60px;
  }
  .cbp-af-header nav a:nth-child(4) {
    width: 28%;
  }
  .cbp-af-header nav a:nth-child(n + 5) {
    width: 36%;
  }
  .mainbackdesc h1 {
    font-size: 19px !important;
  }
  .mainico {
    height: 40px !important;
  }
  .maindesctext span {
    font-size: 14px;
    line-height: 1.2;
  }
  .cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 60px;
  }
  .cbp-af-header.cbp-af-header-shrink .mainlogo img {
    height: 50px;
  }
  .cbp-af-header.cbp-af-header-shrink {
    height: 60px;
  }
  .cbp-af-header.cbp-af-header-shrink .mainlogo img {
    height: 52px;
    vertical-align: top;
    padding-top: 7px;
  }
  .cbp-af-header .mainlogo {
    height: 60px;
  }
  .cbp-af-header .mainlogo img {
    height: 52px;
    vertical-align: top;
    padding-top: 1px;
  }
  .maindescbut {
    height: 40px;
    margin-top: 20px;
    line-height: 38px;
    font-size: 16px;
  }
  .maindesclink a {
    font-size: 14px;
  }
  .maindesclink a:lang(ru) {
    font-size: 13px;
  }
  .mainabout h2,
  .workblock h2,
  .stepsmainblock h2,
  .reviewblock h2,
  .contactsblock h2 {
    font-size: 24px !important;
    line-height: 1.2 !important;
  }
  .mainaboutitem2 h3 {
    font-size: 20px;
  }
  .mainaboutitem h3 {
    font-size: 16px;
  }
  .mainaboutitem {
    width: 100% !important;
    margin: 0 auto 15px !important;
    text-align: left !important;
  }
  .aboutdashleft {
    display: none;
  }
  .totalsumwrapvalue {
    width: 100%;
    margin: 0 auto 15px;
  }
  .mainaboutitemsblock {
    margin: 50px 0 60px !important;
  }
  .maincompanydesc {
    font-size: 12px;
    margin-top: 20px;
  }
  .certimgwrap {
    margin-top: 20px;
  }
  .maincompany {
    font-size: 15px;
    margin: 4px 0 18px;
  }
  .certimg {
    height: 156px;
  }
  .maincertbtn .maindescbut {
    height: 32px;
    margin-top: 10px;
    line-height: 30px;
    font-size: 10px;
  }
  .aboutitemgrad1 {
    display: none;
  }
  .workdescblock {
    width: 100%;
    margin: 30px auto 10px;
    order: -1;
    padding: 0;
  }
  .workdescpre {
    font-size: 14px;
  }
  .workdesctitle {
    font-size: 16px;
    line-height: 1.4;
    margin: 10px 0;
  }
  .workdesc {
    font-size: 14px;
  }
  .macback {
    width: 310px;
    height: 250px;
  }
  .macbackwrap {
    height: 178px;
  }
  .macbackwrap img {
    height: 60px;
    margin: 10px auto;
    width: 90px;
  }
  .macblock .macblockline {
    width: 100%;
    font-size: 15px;
  }
  .macblock .macblockline img {
    height: 15px;
    vertical-align: -2px;
  }
  .stepslinewrap .maincontform {
    width: 100%;
  }
  .mainbackdesc {
    margin: 120px 10px 0;
  }
  .maindescbut:hover {
    margin-top: 23px !important;
  }
  .bigstepline {
    height: 930px;
  }
  .mainabout h2 small,
  .workblock h2 small,
  .stepsmainblock h2 small,
  .reviewblock h2 small,
  .contactsblock h2 small {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 10px;
  }
  .reviewblock {
    padding: 30px 0;
  }
  .mainreview {
    flex-direction: column;
  }
  .mainreview img {
    height: 80px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .mainreviewdesc {
    width: 100%;
    font-size: 14px;
  }
  .mainauditwrap .macblockline {
    padding: 15px;
  }
  .mainreviewimgdesc {
    font-size: 14px;
    margin-top: 15px;
  }
  .maincompany span {
    display: block;
  }
  .maincompany {
    margin: 2px 0 15px;
  }
  .maincontbut {
    width: 100%;
    padding-left: 70px;
    margin: 20px 0 0;
    font-size: 16px;
  }
  .contlink h3 {
    width: 100%;
    margin: 25px 0 0;
    font-size: 14px;
    font-weight: 300;
  }
  .maincontbut::before {
    top: -4px;
    height: 50px;
    width: 50px;
  }
  .maincontbut.supportlink::after {
    width: 49px;
    top: calc(50% - 20px);
  }
  .maincontbut.telegramlink::after {
    font-size: 26px;
    width: 50px;
  }
  .maincontbut.maillink::after {
    top: calc(50% - 20px);
    font-size: 26px;
    width: 49px;
  }
  .maincontbut.twitterlink::after {
    font-size: 26px;
    width: 49px;
  }
  .maincontbut.youtubelink::after {
    font-size: 25px;
    width: 49px;
  }
  .maincontbut.instagramlink::after {
    font-size: 25px;
    width: 46px;
  }
  .maincontbut.discordlink::after {
    font-size: 25px;
    width: 50px;
  }
  .maincontbut,
  .contlink:last-child .maincontbut {
    width: 100%;
  }
  .footblock {
    width: 50% !important;
  }
  .footblock .maindescbut:hover {
    margin-top: 0;
  }
  .remodal h1 {
    font-size: 22px;
  }
  .remodal {
    padding: 20px;
  }
  .modalref small {
    font-size: 11px;
  }
  .modaldesc {
    margin-top: 20px !important;
    font-size: 14px !important;
  }
  .dashmodal {
    margin-bottom: 20px !important;
  }
  .macblockline {
    margin: 12px 0 !important;
    padding: 12px !important;
  }
  .modallinewrap:nth-of-type(2) {
    /* padding-left: 12px; */
  }
  .modallinewrapvalue {
    font-size: 30px !important;
  }
  .modallinewrapvalue img {
    height: 26px;
  }
  .maincontform label {
    font-size: 14px;
  }
  .maincontform input[type="text"] {
    font-size: 16px;
  }
  .modalline {
    font-size: 14px;
  }
  .modallogo {
    height: 50px;
  }
  .modaldesc h3 {
    font-size: 18px !important;
  }
  .stepsline h3 {
    font-size: 22px !important;
  }
  .stepsline h3:lang(ru) {
    font-size: 18px;
  }
  .mainauditwrap {
    margin-top: 30px;
  }
  .reviewwrap {
    width: 96%;
    padding: 0;
    margin: 0 auto;
  }
  .smartcode {
    width: 91%;
  }
  .cbp-af-header nav a i {
    vertical-align: -2px;
    margin-right: 2px;
  }
  .modallinewrap {
    width: 100% !important;
    padding-bottom: 10px !important;
  }
  .modallinewrap:nth-of-type(2) {
    /* border-top: 1px solid #535353; */
    border-left: none;
    padding: 10px 0 0;
  }
  .socwrap i {
    font-size: 22px;
  }
  .socwrap {
    position: relative;
    width: 50px;
    margin: 3px 0;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
  }
  .socblock {
    width: 30px;
  }
  .socwrap:nth-last-of-type(2) i {
    margin: -3px 2px 0 3px;
  }
  .socwrap:nth-last-of-type(1) i {
    margin: -2px 3px 0 !important;
    font-size: 20px;
  }
  .socdesc {
    top: calc(50% - -3px);
    left: 4px;
  }
  .langwrap {
    width: 50px;
    margin: 3px 0 3px -21px;
    height: 30px;
    line-height: 32px;
  }
  .langwrap img {
    margin: 4px 4px 0 0;
    height: 22px;
  }
  .calcwrap {
    width: 50px;
    margin: 3px 0 15px -20px;
    height: 30px;
    line-height: 32px;
  }
  .calcwrap i {
    margin: -6px 6px 0;
    font-size: 18px;
  }
  .langblock {
    width: 30px;
  }
  .calcpage {
    width: 400px;
    font-size: 14px;
  }
  .contesttitle {
    font-size: 16px;
  }
  .calcpage h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .wrap {
    width: 300px !important;
  }
  .mainbackdesc {
    margin: 120px 10px 0 !important;
    text-align: center !important;
  }
  .cbp-af-header nav a:nth-child(4) {
    width: 100%;
  }
  /* .cbp-af-header nav a:nth-child(n + 5) {
    width: 33%;
  } */
  .cbp-af-header nav {
    padding: 0 !important;
  }
  .cbp-af-header {
    background: #303030 !important;
    box-shadow: 1px 1px 20px #1f1f1f !important;
    height: inherit !important;
  }
  .cbp-af-header nav a:hover {
    border-top: 6px solid transparent;
  }
  .cbp-af-header .mainlogo {
    height: 50px;
  }
  .cbp-af-header.cbp-af-header-shrink .mainlogo {
    display: none;
  }
  .cbp-af-header.cbp-af-header-shrink nav a:hover {
    border-bottom: 4px solid transparent;
  }
  .mainbackdesc h1 {
    font-size: 16px !important;
  }
  .mainico {
    height: 35px !important;
  }
  .mainabout {
    padding: 0 !important;
  }
  .mainaboutitem2 {
    margin: -30px auto 10px !important;
  }
  .mainaboutitem2 h3 {
    font-size: 15px !important;
    font-weight: 300;
  }
  .mainaboutitem h3 {
    font-size: 15px;
  }
  .maincompany {
    font-size: 12px;
  }
  .certimg {
    height: 145px;
  }
  .maincertbtn .maindescbut {
    font-size: 9px;
  }
  .maincertbtn .maindescbut i {
    display: none;
  }
  .workdesc {
    font-size: 12px;
  }
  .macblock .macblockline {
    font-size: 12px;
  }
  .macback {
    width: 280px;
    height: 225px;
    margin: 20px auto -50px;
  }
  .macbackwrap {
    height: 160px;
  }
  .macblockdesc {
    font-size: 18px;
  }
  .macbackwrap img {
    height: 50px;
    margin: 10px auto;
    width: 76px;
  }
  .stepsblock {
    font-size: 12px !important;
  }
  .bigstepline {
    height: 1000px;
  }
  .mainabout h2 small,
  .workblock h2 small,
  .stepsmainblock h2 small,
  .reviewblock h2 small,
  .contactsblock h2 small {
    font-size: 14px;
  }
  .footblock {
    width: 100% !important;
    line-height: 1.4 !important;
    font-size: 12px !important;
  }
  .maincontbut {
    padding-left: 65px;
    font-size: 14px;
  }
  .remodal {
    padding: 20px 15px !important;
  }
  .maincontform label {
    font-size: 12px;
  }
  .modalref {
    font-size: 12px;
  }
  .remodal-close {
    top: -5px;
    right: -5px;
  }
  .remodal h1 {
    font-size: 20px;
  }
  .remodal h1:lang(ru) {
    font-size: 18px;
  }
  .modallogo {
    height: 40px;
    margin: 10px 0;
  }
  .reviewlink {
    width: 48%;
    height: 60px;
    margin: 5px 0;
    padding: 15px;
  }
  .lastdepo {
    height: 40px;
  }
  .lastdepo span {
    width: calc(100% / 2 - 20px);
    line-height: 20px;
    font-size: 12px;
  }
  .lastdepo span a {
    margin: -5px auto 0;
  }
  .lastdepo span a:hover {
    margin: -4px auto -1px;
  }
  .reviewlinkwrap .reviewlink:last-child {
    display: inline-flex;
  }
  .calcpage {
    width: 300px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .modaldesc {
    margin-top: 20px;
    /* opacity: 0.7; */
    /* width: 350px; */
    font-size: 14px;
    line-height: 1.4;
  }
}
.table-container {
  background: #4d4d4d;
}

.k-grid-header .k-header {
  overflow: hidden;
  border-style: solid;
  border-width: 0 0 1px 1px;
  padding: 0.5em 0.6em 0.4em 0.6em;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #1a1a1a !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #444;
  padding: 10px;
  text-align: left;
}
.table-body th {
  border-style: solid;
  border-width: 0 0 1px 1px;
}
.table-dark {
  margin: 0px !important;
}
.table-dark td {
  border-color: none;
}
.table-body {
  background-color: #444 !important;
  color: #fff !important;
  text-align: left !important;
  padding: 15px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4) !important;
  margin: 10px 0 !important;
}

.table-container th,
.table-container td {
  background-color: #444 !important;
  border-style: solid;
  border-width: 0 0 1px 1px;
  /* border-bottom: 1px solid #444; */
}

.custom-underline {
  text-decoration: underline;
  text-decoration-color: #fd9500;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
.table tbody tr td {
  border-top: none;
  border-bottom: none;
}
.k-pager-info {
  float: right;
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator {
  border-color: #2b2b2b;
}

.k-widget,
.k-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-pager-wrap {
  background-color: #1d1d1d !important;
  color: #fff !important;
}

.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle,
html .km-pane-wrapper .k-header {
  background-color: #1d1d1d;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content {
  background-image: url(textures/glass.png);
  background-image: none,
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.12) 0, rgba(
            255,
            255,
            255,
            0.2
          )
          50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.07) 100%);
  background-image: none,
    -moz-linear-gradient(top, rgba(255, 255, 255, 0.12) 0, rgba(
            255,
            255,
            255,
            0.2
          )
          50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.07) 100%);
  background-image: none,
    -o-linear-gradient(top, rgba(255, 255, 255, 0.12) 0, rgba(
            255,
            255,
            255,
            0.2
          )
          50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.07) 100%);
  background-image: none,
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.12) 0,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.07) 100%
    );
  background-position: 50% 50%;
  background-color: #1d1d1d;
}
.k-block,
.k-widget,
.k-grid,
.k-slider,
.k-splitter,
.k-treeview,
.k-panelbar,
.k-content,
.k-header-column-menu {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.k-grid-pager {
  border-width: 1px 0 0;
}

.k-pager-wrap {
  clear: both;
  overflow: hidden;
  border-style: solid !important;
  border-width: 1px;
  line-height: 2em;
  padding: 0.333em 0 0.333em 0.25em;
}

.k-widget,
.k-widget * {
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.k-animation-container,
.k-widget,
.k-widget *,
.k-animation-container *,
.k-widget *:before,
.k-animation-container *:after,
.k-block .k-header,
.k-list-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.k-widget,
.k-block,
.k-inline-block,
.k-draghandle {
  border-style: solid;
  border-width: 1px;
  -webkit-appearance: none;
}

.k-block,
.k-button,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-tooltip,
.k-pager-wrap,
.k-tabstrip-items .k-item,
.k-link.k-state-hover,
.k-textbox,
.k-textbox:hover,
.k-autocomplete,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-autocomplete.k-state-hover,
.k-dropdown-wrap.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-draghandle {
  background-repeat: repeat;
  background-position: 0 center;
}

.k-pager-wrap > .k-link {
  border-style: solid;
  border-width: 1px;
}

.k-pager-wrap > .k-link {
  float: left;
  margin: 0 0.08333em;
  height: 2em;
  line-height: 2em;
  border-radius: 1.0833em;
  cursor: pointer;
  text-align: center;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
  min-width: 2em;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #7a7a7a;
}

.k-state-disabled {
  filter: alpha(opacity = 70);
  opacity: 0.7;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-icon,
.k-state-disabled .k-button,
.k-state-disabled .k-draghandle,
.k-state-disabled .k-upload-button input {
  cursor: default !important;
  outline: 0;
}

.k-link {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.k-grid .k-pager-numbers {
  float: left;
  cursor: default;
}

.k-grid .k-pager-numbers,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
}

.k-pager-numbers {
  margin: 0 2px;
}

.k-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.k-pager-numbers li,
.k-pager-input {
  float: left;
}

.k-pager-numbers li,
.k-pager-input {
  float: left;
}

.k-pager-numbers .k-state-selected {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  border-radius: 1.0833em;
}
.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
  min-width: 2em;
}
.k-pager-numbers .k-state-selected {
  vertical-align: top;
}

.k-grid .k-pager-numbers,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #fff;
  background-color: #06c;
  border-color: #06c;
}

.DAOLogo {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.Modalopacity {
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .table tbody tr td {
    border-top: none;
    border-bottom: none;
  }
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator {
  border-color: #2b2b2b;
}

.k-widget,
.k-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.k-pager-wrap {
  background-color: #1d1d1d;
  color: #fff;
}
